* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* setting the general css */

.game-board { 
    width: 80%; 
    height: 500px; 
    border: 1px solid #333;
    margin: 0;
    position: relative; /* For the images to respect the delimitation of game-board
} /* setting the div size, border and centering the div */
    overflow: hidden; /* everything that leaves the game-board will disappear */ 
}

.pipe {
    position: absolute; /* for no image to interfere with the behavior of the other */
    bottom: 0; /* to fix pipe in bottom */
    width: 80px;
    right: -80px;
    animation: pipe-animation 6s infinite linear; /* setting the animation time, to start and finish with the same velocity and to not stop */ 
}

@keyframes pipe-animation {
    from { 
        right: 0;
    } /* where the animation will begin */

    to {
        right: 100%;
    } /* where the animation will end */
    
}