* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* setting the general css */

.game-board { 
    width: 80%; 
    height: 500px; 
    border: 1px solid #333;
    margin: 0;
    position: relative; /* For the images to respect the delimitation of game-board
} /* setting the div size, border and centering the div */
    overflow: hidden; /* everything that leaves the game-board will disappear */ 
}

.pipe {
    position: absolute; /* for no image to interfere with the behavior of the other */
    bottom: 0; /* to fix pipe in bottom */
    width: 80px;
    right: -80px;
    animation: pipe-animation 6s infinite linear; /* Linking the key frames "pipe-animation" and setting
    the animation time, to start and finish with the same velocity and to not stop */ 
}

.mario {
    width: 150px;
    position: absolute; /* To not interfere in the other images */
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out; /* linking the keyframes "jump" and setting the time */
}



@keyframes pipe-animation {
    from { 
        right: 0;
    } /* where the animation will begin */

    to {
        right: 100%;
    } /* where the animation will end */
    
}

@keyframes jump {

    0% {
        bottom: 0%;
    }

    40 % {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60$ {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}